# Directories to scan
scan_directories = [
]

# File and directories matching the patterns below will be excluded
exclusion_patterns = [
    "\\.(hpp|txt|log|cmake|json|zip)$" # extensions defined with a single expression
    # this section might contain multiple patterns
]

# Directories to be marked as safe candidates for deletion
# If all paths of the given duplicate group are inside the directory specified in the list
# the application will behave interactively. i.e. it will ask the user to confirm the deletion
dirs_to_delete_from = [
    # "/pattern/of/the/path/considered/safe/for/deletion"
]

# Ignore files smaller then this
min_file_size_bytes = 1024

# Ignore files larger then this (10 Gb)
max_file_size_bytes = 10737418240

# Frequency of the duplicate detection updates, it controls how frequently the application
# should report about the detection progress. Value 0 disables updates
update_freq_ms = 100

# File to dump paths of all scanned files
all_files = "all.txt"

# File to dump the duplicates
dup_files = "duplicates.txt"

# File to maintain ignored files across multiple runs of the duplicates application
ign_files = "ignored.txt"

# If true emulate file deletion instead of actual deletion (i.e. log what would be deleted)
dry_run = false