---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AlignConsecutiveShortCaseStatements:
  Enabled:         true
  AcrossEmptyLines: true
  AcrossComments:  true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterExternBlock: true
  AfterFunction:   true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
BracedInitializerIndentWidth: 4
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit:     87
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentWidth:     4
InsertBraces:    true
IntegerLiteralSeparator:
  Decimal:         3
  DecimalMinDigits: 5
MaxEmptyLinesToKeep: 2
PackConstructorInitializers: Never
PenaltyBreakBeforeFirstCallParameter: 5
PenaltyReturnTypeOnItsOwnLine: 10000
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'const', 'type' ]
SortIncludes: Never
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
SpacesBeforeTrailingComments: 1
TabWidth:        4
...
